* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
.logo {
  width: 15vw;
  margin: 5vh 0 0 0;
  border-radius: 4px;
}
.slogan h1 {
  margin-bottom: 2vh;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 4px;
  font-size: 2.5rem;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.slogan h2 {
  color: rgb(255, 255, 255);
  margin: 0 0 3vh 0;
  font-weight: 400;
}
.callToAction {
  background-image: url(../src/assets/trip.jpg);
  background-size: cover;
  width: 100%;
  height: 62vh;
  margin: 6vh auto 0 auto;
  border-radius: 5px 90% 0% 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
  filter: saturate(0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.callToAction h2 {
  background-color: rgba(0, 0, 0, 0.616);
  width: 100%;
  text-align: center;
  border-radius: 0 0 0 0;
  padding: 3vh 2vw;
  font-size: 2rem;
  margin: 0 0 2vw 0;
}

.callToAction button {
  padding: 2vh 3vh;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  font-size: 1.5rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  margin-bottom: 3vh;
  outline: none;
}
.callToAction button:hover {
  background-color: white;
  color: black;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vh;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
}
video {
  object-fit: cover;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.links div {
  display: flex;
}
.navLinks {
  text-decoration: none;
  color: white;
}
.links p {
  margin: 0 2vh;
  padding: 2vh;
}
nav img {
  width: 2.5em;
}
.carruselSection {
  background-color: rgb(36, 35, 35);
  padding: 5vh 0;
}

.carrusel {
  width: 60vw;
}
.slidesTitle {
  text-align: center;
  margin: 0vh 0 2vh 0;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.slideCity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
  min-width: 350px;
}

.slideCity:hover {
  transform: scale(1.03);
}

.slideCity h3 {
  background-color: rgba(0, 0, 0, 0.562);
  color: white;
  width: 100%;
  text-align: center;
  padding: 2vh 0;
}
.iLquPE,
.lgksPe {
  background-color: transparent !important;
  color: white !important;
}
.cJeRRR {
  background-color: white !important;
  box-shadow: none !important;
}
.guuruq {
  border: solid 3px white !important;
}
.guuruq:active,
.guuruq:hover {
  border: solid 3px white !important;
  box-shadow: none !important;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  min-height: 5vh;
  padding: 5vh 0;
}
.footer div {
  padding: 0 1vh;
}

.citiesSection {
  background-image: url("../src/assets/cities.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.citiesSection h1 {
  background-color: rgba(0, 0, 0, 0.651);
  padding: 3vh;
  flex: 1;
  text-align: center;
}

.active {
  border-bottom: solid 2px white;
}

.footerLeft {
  border-right: solid white 1px;
  flex: 1;
  text-align: right;
  font-size: 1.4rem;
}
.footerRight {
  border-right: solid white 1px;
  flex: 1;
}
.burger {
  display: none;
}
@media (max-width: 600px) {
  #root {
    overflow-x: hidden;
  }
  .slogan h2 {
    text-align: center;
    padding: 3vw;
  }

  .burger {
    display: block;
    font-size: 2rem;
    margin: 3px 0;
    position: absolute;
    top: 2px;
    right: 10px;
  }
  .logo {
    width: 40vw;
    margin-bottom: 2vh;
  }
  nav {
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.815);
    width: 100%;
    height: 6vh;
  }
  .links {
    position: absolute;
    top: 6vh;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    transform: translateX(100%);
    transition: all ease 0.3s;
  }
  .links div {
    flex-direction: column;
  }

  .links img {
    margin-bottom: 2vh;
  }
  .active {
    border: none;
  }
  .activeNav {
    transform: translateX(0%);
  }
  .callToAction {
    border-radius: 0 30vh 0 0;
    margin: 0;
    height: 50vh;
  }
  .callToAction h2 {
    font-size: 1.5rem;
    margin-bottom: 2vh;
  }
}
